.MMM-MyVideoPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* Adjust as needed to contain within the display */
  max-height: 100%; /* Adjust as needed to contain within the display */
}

.MMM-MyVideoPlayer video {
  width: 100%;
  height: 100%;
}
